body {
    margin: 0;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5em;
    font-family: sans-serif;
}

small {
    font-size: smaller;
}

.pc {
}

.smartphone {
    display: none;
}

div.menu {
    position: sticky;
    top: 0;
    width: 100%;
}

#content {
    margin: 0 auto;
    padding: 16px;
    width: 1280px;
}

p {
    text-align: justify;
}

h1 {
    margin: 40px 0 20px 0;
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

h2 {
    margin: 40px 0 16px 0;
    font-size: 1.75em;
    line-height: 1.225;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

h3 {
    margin: 30px 0 0 0;
    font-size: 1.5em;
    line-height: 1.43;
    font-weight: 600;
}

h4 {
    margin: 30px 0 0 0;
    font-size: 1.25em;
    font-weight: 600;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #777;
}

table {
    margin: 10px 0;
}

    table th {
        white-space: nowrap;
    }

    table th,
    table td {
        padding: 0 20px 4px 0;
        text-align: justify;
    }

    table td:last-child {
        padding-right: 0;
    }

.float-clearer {
    clear: both;
}

div.footer {
    width: 100%;
}

@media screen and (max-width: 1279px) {
    #content {
        width: 100%;
    }

    table th, td {
        padding-bottom: 8px;
    }

    img {
        max-width: 100%;
    }
}

@media screen and (max-width: 639px) {
    * {
        font-size: 15px;
    }
}