@font-face {
    font-family: "NotoSansJPLight";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NotoSansJP-Light-Regular.woff2") format("woff2"), url("/fonts/NotoSansJP-Light-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NotoSansJPLight";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/NotoSansJP-Light-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NotoSansJPLight";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NotoSansJP-Light-Bold.woff2") format("woff2"), url("/fonts/NotoSansJP-Light-Bold.woff") format("woff");
    font-display: swap;
}

body {
    --background-color: #fdfefe;        /* H=210, S=16, L=254 */
    --background-darker-color: #f7f8f8; /* H=210, S=16, L=248 */
    --header-background-color: #fdfefee0;
    --footer-background-color: #eff0f0; /* H=210, S=16, L=240 */
    --separator-dark-color: #abb0b4;    /* H=210, S=16, L=176 */
    --separator-color: #cdd0d2;         /* H=210, S=16, L=208 */
    --separator-light-color: #e6e8e9;   /* H=210, S=16, L=232 */
    --color: #25282a;                   /* H=210, S=16, L=40 */
    --lighter-color: #4a5055;           /* H=210, S=16, L=80 */
    --light-color: #70787f;             /* H=210, S=16, L=120 */
    --main-color: #80c0a0;
    --accent-color: #339;
    margin: 0;
    overflow-y: scroll;
    background-color: var(--background-color);
    color: var(--color);
    font-size: 16px;
    line-height: 1.9;
    font-family: "NotoSansJPLight", sans-serif;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

small {
    font-size: smaller;
}

.pc {
}

.smartphone {
    display: none;
}

.menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

#content {
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 0;
    width: 1280px;
}

p {
    margin: 16px 0;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:active {
    color: -webkit-link;
}

a.strong {
    font-weight: bold;
}

a.constr {
    color: #ee0000 !important;
    text-decoration: none !important;
    pointer-events: none;
}

code {
    font-size: 14px;
    line-height: 1.25em;
}

small.breadcrumb, small.breadcrumb > a {
    color: inherit;
}

h1 {
    margin: 16px 0 32px 0;
    font-size: 2.25em;
    line-height: 1.25;
    font-weight: 700;
}

h2 {
    position: relative;
    margin: 32px 0 16px 0;
    padding-bottom: 16px;
    font-size: 1.5em;
    line-height: 1.25;
    font-weight: 700;
    border-bottom: 2px solid var(--accent-color);
}

    h2::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: inherit;
        width: 85%;
        border-bottom: 3px solid var(--main-color);
        border-right: 3px solid transparent;
    }

h3 {
    position: relative;
    margin: 28px 0 16px 0;
    padding: 4px 0 4px 20px;
    font-size: 1.25em;
    line-height: 1.25;
    font-weight: 700;
    border-left: 3px solid var(--accent-color);
}

    h3::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: inherit;
        height: 9px;
        border-left: 9px solid var(--main-color);
    }

    h3::after {
        content: "";
        position: absolute;
        left: 5px;
        top: -10px;
        width: inherit;
        height: 6px;
        border-left: 6px solid var(--main-color);
    }

h4 {
    margin: 24px 0 12px 0;
    font-size: 1.125em;
    line-height: 1.25;
    font-weight: 700;
}

h5 {
    font-size: 1em;
    line-height: 1.25;
}

h6 {
    font-size: 1em;
    line-height: 1.25;
    color: var(--lighter-color);
}

mark {
    background: linear-gradient(transparent 50%, yellow 50%);
}

table {
    margin: 10px 0;
}

    table th {
        white-space: nowrap;
    }

    table th,
    table td {
        padding: 0 20px 4px 0;
        text-align: justify;
    }

    table td:last-child {
        padding-right: 0;
    }

    table.with-border {
        border-spacing: 0;
        border-collapse: collapse;
    }

        table.with-border th,
        table.with-border td {
            padding: 4px 8px;
            border: 1px solid var(--separator-color);
        }

        table.with-border tr:nth-child(2n) td {
            background-color: var(--background-darker-color);
        }

img, video {
    max-width: 100%;
}

    img.no-horizonal-margin, video.no-horizonal-margin {
        margin: 0 -16px 0 -16px;
        max-width: none;
    }

    img.stretch, video.stretch {
        width: 100%;
    }

    img.small, video.small {
        width: 640px;
    }

p.strong {
    font-weight: bold;
}

p.more {
    margin-right: 32px;
    text-align: right;
    font-weight: bold;
}

strong.more-strong {
    color: red;
}

.bold-center {
    text-align: center;
    font-weight: bold;
}

.float-clearer {
    clear: both;
}

.new {
    font-weight: bold;
    color: red;
}

.secret {
    color: darkgrey;
}

.scrollable {
    display: block;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

    .scrollable::-webkit-scrollbar {
        display: none;
    }

    .scrollable .min-w-120 {
        min-width: 120px;
        white-space: initial;
    }

    .scrollable .min-w-160 {
        min-width: 160px;
        white-space: initial;
    }

    .scrollable .min-w-200 {
        min-width: 200px;
        white-space: initial;
    }

    .scrollable .min-w-240 {
        min-width: 300px;
        white-space: initial;
    }

div.note {
    --note-icon-height: 32px;
    --note-icon-text: "";
    --note-icon-text-height: 1.25;
    --note-header-text: "???";
    --note-background-color: #f7f7f7; /* a = 0x10/0xff = 1/16 = 0.0625 */
    --note-color: #808080;
    position: relative;
    margin: calc(16px + var(--note-icon-height) * 0.625) 0 16px calc(var(--note-icon-height) * 0.625);
    padding: 16px 16px 16px 24px;
    width: calc(100% - var(--note-icon-height) * 0.625);
    background-color: var(--note-background-color);
    color: #444;
}

    div.note::before {
        content: var(--note-icon-text);
        display: block;
        position: absolute;
        left: calc(var(--note-icon-height) * -0.625);
        top: calc(var(--note-icon-height) * -0.625);
        height: var(--note-icon-height);
        width: var(--note-icon-height);
        border-radius: 50%;
        background-color: var(--note-color);
        color: white;
        vertical-align: middle;
        text-align: center;
        font-size: calc(var(--note-icon-height) * 0.8);
        line-height: var(--note-icon-text-height);
        font-weight: 700;
    }

    div.note::after {
        content: var(--note-header-text);
        display: block;
        position: absolute;
        left: calc(var(--note-icon-height) * 0.625);
        top: -16px;
        width: auto;
        color: var(--note-color);
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
    }

    div.note.note-info {
        --note-icon-text: "i";
        --note-header-text: "参考";
        --note-background-color: #efeffb;
        --note-color: #0a0ac1; /* H=240, S=90, L=40 */
    }

    div.note.note-warn {
        --note-icon-text: "!";
        --note-icon-text-height: 1.2;
        --note-header-text: "注意";
        --note-background-color: #fdf9ef;
        --note-color: #e89f0c; /* H=40, S=90, L=48 */
    }

    div.note.note-alert {
        --note-icon-text: "×";
        --note-icon-text-height: 1.1;
        --note-header-text: "警告";
        --note-background-color: #fdefef;
        --note-color: #e80c0c; /* H=0, S=90, L=48 */
    }

    div.note > *:first-child {
        margin-top: 0;
    }

    div.note > *:last-child {
        margin-bottom: 0;
    }

    div.note > ul:first-child {
        margin-top: 8px;
    }

    div.note > h2:first-child, div.note > h3:first-child, div.note > h4:first-child {
        margin-top: 4px;
    }

.hidden-counter {
    display: none;
}

@media screen and (max-width: 1279px) {
    #content {
        width: 100%;
    }

    table th, td {
        padding-bottom: 8px;
    }

    img {
        max-width: 100%;
    }

        img.no-horizonal-margin {
            margin: 0;
        }
}

@media screen and (max-width: 959px) {
    body {
        font-size: 15px;
    }

    div.note {
        font-size: 0.875em;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}