@font-face {
    font-family: "NotoSansJP";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NotoSansJP-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NotoSansJP";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/NotoSansJP-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NotoSansJP";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/NotoSansJP-Bold.woff") format("woff");
    font-display: swap;
}

body {
    margin: 0;
    overflow-y: scroll;
    font-size: 16px;
    line-height: 1.75em;
    font-family: "NotoSansJP", sans-serif;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

small {
    font-size: smaller;
}

.pc {
}

.smartphone {
    display: none;
}

.menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

#content {
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 64px;
    width: 1280px;
}

p {
    margin: 16px 0;
    text-align: justify;
}

a {
    text-decoration: none;
}

a:active {
    color: -webkit-link;
}

a.constr {
    color: #ee0000 !important;
    text-decoration: none !important;
    pointer-events: none;
}

small.breadcrumb a {
    color: black;
}

h1 {
    margin: 12px 0 40px 0;
    font-size: 2.5em;
    line-height: 1.5;
    font-weight: 700;
}

h2 {
    margin: 40px 0 20px 0;
    padding-bottom: 16px;
    font-size: 1.75em;
    line-height: 1.25;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}

h3 {
    margin: 32px 0 20px 0;
    padding: 4px 0 4px 16px;
    font-size: 1.5em;
    line-height: 1.43;
    font-weight: 700;
    border-left: 1px solid #666;
}

h4 {
    margin: 32px 0 20px 0;
    font-size: 1.25em;
    font-weight: 700;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #777;
}

mark {
    background: linear-gradient(transparent 50%, yellow 50%);
}

table {
    margin: 10px 0;
}

    table th {
        white-space: nowrap;
    }

    table th,
    table td {
        padding: 0 20px 4px 0;
        text-align: justify;
    }

    table td:last-child {
        padding-right: 0;
    }

    table.with-border {
        border-spacing: 0;
        border-collapse: collapse;
    }

        table.with-border th,
        table.with-border td {
            padding: 4px 8px;
            border: 1px solid #d0d7de;
        }

        table.with-border tr:nth-child(2n) td {
            background-color: #f6f8fa;
        }

img.no-horizonal-margin {
    margin: 0 -16px 0 -16px;
}

img.stretch {
    width: 100%;
}

.bold-center {
    text-align: center;
    font-weight: bold;
}

.float-clearer {
    clear: both;
}

.new {
    font-weight: bold;
    color: red;
}

.secret {
    color: darkgrey;
}

.scrollable {
    display: block;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    text-align: center;
}

    .scrollable::-webkit-scrollbar {
        display: none;
    }

    .scrollable .min-w-120 {
        min-width: 120px;
        white-space: initial;
    }

    .scrollable .min-w-160 {
        min-width: 160px;
        white-space: initial;
    }

    .scrollable .min-w-200 {
        min-width: 200px;
        white-space: initial;
    }

    .scrollable .min-w-240 {
        min-width: 300px;
        white-space: initial;
    }

.anchor:before {
    display: block;
    margin-top: -82px;
    padding-top: 82px;
    content: "";
}

.hidden-counter {
    display: none;
}

@media screen and (max-width: 1279px) {
    #content {
        width: 100%;
    }

    table th, td {
        padding-bottom: 8px;
    }

    img {
        max-width: 100%;
    }

        img.no-horizonal-margin {
            margin: 0;
        }
}

@media screen and (max-width: 959px) {
    body {
        font-size: 15px;
    }
}