div.footer div.footermenu {
    margin: 30px 20px 20px 20px;
}

    div.footer div.footermenu div.footermenu-content {
        column-count: 4;
        column-gap: 40px;
    }

        div.footer div.footermenu div.footermenu-content h1 {
            margin: 20px 0 -5px 0;
            font-size: 1.5em;
        }

            div.footer div.footermenu div.footermenu-content h1:first-child {
                margin-top: 0;
            }

        div.footer div.footermenu div.footermenu-content h2 {
            margin: 25px 0 0 0;
            font-size: 1.3em;
        }

        div.footer div.footermenu div.footermenu-content h3 {
            margin: 20px 0 -10px 0;
            font-size: 1.1em;
        }
