footer {
}

    footer > .footer-bus {
        --bus-height: 60px;
        content: "";
        position: relative;
        margin: 0 10% 0 auto;
        width: calc(var(--bus-height) * 3.25);
        height: var(--bus-height);
        background: bottom / contain no-repeat transparent;
    }

        footer > .footer-bus::after {
            content: "";
            position: absolute;
            right: calc(10% + var(--bus-height) * 4);
            bottom: 0;
            width: 10px;
            height: calc(var(--bus-height) * 0.6);
            background: url("/img/busstop.svg") bottom / contain no-repeat transparent;
        }

    footer > .footer-main {
        display: block;
        background: #f2f2f2;
    }

        footer > .footer-main hr {
            margin: 0;
            border: none;
            border-top: 1px solid #ddd;
        }

        footer > .footer-main > small {
            display: block;
            padding: 15px 0;
            text-align: center;
        }

@media screen and (max-width: 959px) {
    footer > .footer-bus {
        --bus-height: 40px;
    }

        footer > .footer-bus::after {
            --bus-height: 40px;
        }
}
