footer {
}

    footer div.footermenu {
        margin: 0 16px;
        padding: 30px calc((100% - 1280px) / 2 + 32px);
        font-size: 0.8em;
    }

        footer div.footermenu div.footermenu-content {
            column-count: 5;
            column-gap: 30px;
        }

            footer div.footermenu div.footermenu-content h2 {
                margin: 25px 0 0 0;
                padding: 10px 0;
                border-bottom: 1px solid var(--separator-dark-color);
                font-size: 1.5em;
                font-weight: normal;
            }

                footer div.footermenu div.footermenu-content h2::before {
                    content: none;
                }

                footer div.footermenu div.footermenu-content h2:first-child {
                    margin-top: 0;
                }

            footer div.footermenu div.footermenu-content h3 {
                margin: 25px 0 0 0;
                padding: 0 0 0 10px;
                border-left: 5px solid var(--separator-dark-color);
                font-size: 1.2em;
            }

                footer div.footermenu div.footermenu-content h3::before {
                    content: none;
                }

                footer div.footermenu div.footermenu-content h3::after {
                    content: none;
                }

            footer div.footermenu div.footermenu-content h4 {
                margin: 15px 0 -8px 0;
                font-size: 1em;
            }

            footer div.footermenu div.footermenu-content ul {
                list-style: none;
                padding-left: 0;
            }

@media screen and (max-width: 1279px) {
    div.breadcrumb {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 959px) {
    footer div.footermenu div.footermenu-content {
        column-count: 4;
    }
}

@media screen and (max-width: 799px) {
    footer div.footermenu div.footermenu-content {
        column-count: 3;
    }
}

@media screen and (max-width: 599px) {
    footer div.footermenu {
        padding: 20px;
    }

        footer div.footermenu div.footermenu-content {
            column-count: 2;
        }
}

@media screen and (max-width: 399px) {
    footer div.footermenu div.footermenu-content {
        column-count: 1;
    }
}
