#loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    top: 0;
    background-color: white;
    overflow-x: hidden;
}

    #loading.will-fade {
        display: block;
    }

        #loading.will-fade > .loading-mes {
            position: absolute;
            width: 100%;
            top: calc(50% - 12px);
            text-align: center;
            font-size: 24px;
            transition: opacity linear 300ms;
        }

        #loading.will-fade > .loading-mes.loading-mes-loading {
            opacity: 1;
        }

            #loading.will-fade > .loading-mes.loading-mes-loading.fade {
                opacity: 0;
            }

        #loading.will-fade > .loading-mes.loading-mes-welcome {
            opacity: 0;
            font-weight: bold;
        }

            #loading.will-fade > .loading-mes.loading-mes-welcome.fade {
                opacity: 1;
            }

#loading-road {
    position: absolute;
    display: block;
    bottom: 0;
}

#loading-busstop {
    position: absolute;
    right: 20%;
    bottom: 4px;
    width: 10px;
    height: 30.5px;
    background: url("/img/busstop.svg") bottom / contain no-repeat transparent;
}

#loading-bus-debug {
    position: absolute;
    width: 100%;
    top: 70%;
}

#body {
    position: absolute;
    width: 100%;
    background-color: white;
}

    #body.will-fade {
        display: none;
        opacity: 0;
        transition: opacity linear 1500ms;
    }

        #body.will-fade.fade {
            opacity: 1;
        }

    #body.wont-fade {
    }

img.header {
    width: 100%;
}

    img.header.pc {
        display: block;
    }

.counter {
    margin-bottom: 32px;
}

    .counter img {
        margin-bottom: -2px !important;
    }

@media screen and (max-width: 959px) {
    .menu.pc {
        display: none;
    }

    .menu.smartphone {
        display: block;
    }

    img.header.pc {
        display: none;
    }

    img.header.smartphone {
        display: block;
    }
}