#loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: white;
}

    #loading div {
        position: absolute;
        width: 100%;
        top: calc(50% - 12px);
        text-align: center;
        font-size: 24px;
        transition: opacity linear 300ms;
    }

#loading-mes-loading {
    opacity: 1;
}

    #loading-mes-loading.fade {
        opacity: 0;
    }

#loading-mes-welcome {
    opacity: 0;
    font-weight: bold;
}

#loading-mes-welcome.fade {
    opacity: 1;
}

#body {
    display: none;
    position: absolute;
    width: 100%;
    opacity: 0;
    background-color: white;
    transition: opacity linear 1500ms;
}

    #body.fade {
        opacity: 1;
    }

img.header {
    width: 100%;
}

    img.header.pc {
        display: block;
    }

.counter img {
    margin-bottom: -2px !important;
}

@media screen and (max-width: 639px) {
    div.menu.pc {
        display: none;
    }

    div.menu.smartphone {
        display: block;
    }

    img.header.pc {
        display: none;
    }

    img.header.smartphone {
        display: block;
    }
}