.menu {
    background-color: white;
    border-bottom: 2px solid #eee;
}

    .menu .menu-content {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

        .menu .menu-content li {
            display: block;
            position: relative;
            width: 240px;
            text-align: center;
            transition: background-color linear 200ms;
        }

            .menu .menu-content li:before, li:last-child:after {
                display: block;
                position: absolute;
                width: 1px;
                height: 40px;
                top: 50%;
                margin-top: -20px;
                content: "";
                background-color: #ccc;
            }

            .menu .menu-content li:after {
                right: 0;
            }

            .menu .menu-content li:hover {
                background-color: #f8f8f8;
            }

            .menu .menu-content li a {
                display: block;
                padding: 20px 0;
                text-decoration: none;
                color: black;
            }
