.menu {
}

    .menu.menu-with-header > div {
        margin: 0 auto;
        width: 1280px;
    }

        .menu.menu-with-header > div > .header-img-small {
            display: flex;
            float: left;
            margin-left: 12px;
            width: 280px;
            height: 64px;
        }

            .menu.menu-with-header > div > .header-img-small > img {
                display: block;
                margin: auto;
                height: 40px;
            }

        .menu.menu-with-header > div > .menu-button {
            display: none;
        }

@media screen and (min-width: 960px) {
    .menu.menu-with-header > div > .menu-content {
        float: right;
        margin-right: 12px;
    }

        .menu.menu-with-header > div > .menu-content li {
            width: auto;
        }

            .menu.menu-with-header > div > .menu-content li:before {
                left: 0;
            }

            .menu.menu-with-header > div > .menu-content li a {
                padding: 24px;
            }
}

@media screen and (max-width: 1279px) {
    .menu.menu-with-header > div {
        width: 100%;
    }
}

@media screen and (max-width: 959px) {
    .menu.menu-with-header {
    }

        .menu.menu-with-header > div {
        }

            .menu.menu-with-header > div > .header-img-small {
                height: 58px;
            }

            .menu.menu-with-header > div > .menu-button {
                display: block;
                float: right;
                margin: 9px 12px;
                padding: 0;
                width: 40px;
                height: 40px;
                border: none;
                background-color: transparent;
                text-decoration: none;
                outline: none;
                cursor: pointer;
                transition: all linear 200ms;
            }

                .menu.menu-with-header > div > .menu-button:hover,
                .menu.menu-with-header > div > .menu-button:focus {
                    background-color: var(--shadow-color);
                }

                .menu.menu-with-header > div > .menu-button.visible {
                    background-color: var(--shadow-color);
                }

                .menu.menu-with-header > div > .menu-button > .menu-button-content {
                    margin: auto;
                }

                    .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger {
                        padding: 10px;
                        position: relative;
                    }

                        .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger > .menu-button-content-hamburger-line,
                        .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger > .menu-button-content-hamburger-line::before,
                        .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger > .menu-button-content-hamburger-line::after {
                            display: inline-block;
                            position: absolute;
                            margin: auto;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 24px;
                            height: 2px;
                            content: "";
                            background-color: var(--lighter-color);
                        }

                        .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger > .menu-button-content-hamburger-line {
                            top: 0;
                        }

                            .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger > .menu-button-content-hamburger-line::before {
                                top: -14px;
                            }

                            .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-hamburger > .menu-button-content-hamburger-line::after {
                                top: 14px;
                            }

                    .menu.menu-with-header > div > .menu-button > .menu-button-content > .menu-button-content-text {
                        margin: 0 auto;
                        color: var(--color);
                        font-size: 10px;
                    }

            .menu.menu-with-header > div > .menu-content {
                display: block;
                clear: both;
                margin-left: auto;
                width: 360px;
                height: 0;
                overflow-y: hidden;
                background-color: var(--background-color);
                transition: height ease 500ms, margin-bottom ease 500ms;
            }

                .menu.menu-with-header > div > .menu-content.visible {
                    --contents-count: 5;
                    height: calc(48px * var(--contents-count));
                    margin-bottom: calc(-48px * var(--contents-count));
                }

                .menu.menu-with-header > div > .menu-content > li {
                    padding: 0 32px;
                    width: 100%;
                    text-align: left;
                    vertical-align: central;
                }

                    .menu.menu-with-header > div > .menu-content > li > a {
                        position: relative;
                        padding: 12px 0;
                        padding-left: 16px;
                        width: 100%;
                        line-height: 24px;
                    }

                        .menu.menu-with-header > div > .menu-content > li > a::before {
                            content: "▼";
                            position: absolute;
                            left: 0;
                            font-size: 0.5em;
                            transform: rotate(-90deg);
                            transition: transform ease 500ms;
                        }

                    .menu.menu-with-header > div > .menu-content > li::before,
                    .menu.menu-with-header > div > .menu-content > li:last-child::after {
                        margin-top: 0;
                        top: 0;
                        left: 16px;
                        width: calc(100% - 32px);
                        height: 0;
                        border-right: none;
                        border-bottom: 1px solid var(--separator-color);
                    }

                    .menu.menu-with-header > div > .menu-content > li:first-child::before {
                        left: 0;
                        width: 100%;
                        border-bottom: 1px solid var(--separator-light-color);
                    }

                    .menu.menu-with-header > div > .menu-content > li:last-child::after {
                        top: auto;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        border-bottom: 1px solid var(--separator-light-color);
                    }
}

@media screen and (max-width: 479px) {
    .menu.menu-with-header > div > .menu-content {
        width: 100%;
    }

        .menu.menu-with-header > div > .menu-content > li > a {
            text-align: center;
        }
}

@media screen and (max-width: 359px) {
    .menu.menu-with-header > div > .header-img-small {
        width: calc(100% - 76px);
    }
}