.menu {
}

    .menu.menu-with-header > div {
        margin: 0 auto;
        width: 1280px;
    }

        .menu.menu-with-header > div > .header-img-small {
            display: flex;
            float: left;
            margin-left: 12px;
            width: 350px;
            height: 64px;
        }

            .menu.menu-with-header > div > .header-img-small > img {
                display: block;
                margin: auto;
                height: 40px;
            }

        .menu.menu-with-header > div > .menu-button {
            display: none;
        }

@media screen and (min-width: 640px) {
    .menu.menu-with-header > div > .menu-content {
        float: right;
        margin-right: 12px;
    }

        .menu.menu-with-header > div > .menu-content li {
            width: auto;
        }

            .menu.menu-with-header > div > .menu-content li:before {
                left: 0;
            }

            .menu.menu-with-header > div > .menu-content li a {
                padding: 20px;
            }
}

@media screen and (max-width: 1279px) {
    .menu.menu-with-header > div {
        width: 100%;
    }
}

@media screen and (max-width: 639px) {
    .menu.menu-with-header > div {
    }

        .menu.menu-with-header > div > .menu-button {
            display: block;
            float: right;
            position: relative;
            margin: 12px;
            width: 40px;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #aaa;
            background-color: transparent;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            transition: all linear 200ms;
        }

            .menu.menu-with-header > div > .menu-button:hover, .menu-button:focus {
                box-shadow: 0 0 1px 1px #0004;
            }

            .menu.menu-with-header > div > .menu-button.visible {
                background-color: #eee;
            }

            .menu.menu-with-header > div > .menu-button span.hamburger-line, span.hamburger-line:before, span.hamburger-line:after {
                display: inline-block;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 20px;
                height: 2px;
                content: "";
                background-color: #444;
            }

                .menu.menu-with-header > div > .menu-button span.hamburger-line:before {
                    top: -12px;
                }

                .menu.menu-with-header > div > .menu-button span.hamburger-line:after {
                    top: 12px;
                }

        .menu.menu-with-header > div > .menu-content {
            display: block;
            clear: both;
            width: 100%;
            height: 0;
            overflow-y: hidden;
            background-color: white;
            transition: height ease 500ms;
        }

            .menu.menu-with-header > div > .menu-content.visible {
                height: 240px;
            }

            .menu.menu-with-header > div > .menu-content > li {
                width: 100%;
            }

                .menu.menu-with-header > div > .menu-content > li > a {
                    padding: 12px 0;
                    width: 100%;
                    line-height: 24px;
                }

                .menu.menu-with-header > div > .menu-content > li:before {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    top: 0;
                    margin-top: 0;
                    left: 50%;
                    margin-left: -50%;
                    content: "";
                }
}

@media screen and (max-width: 449px) {
    .menu.menu-with-header > div > .header-img-small {
        width: calc(100% - 76px);
    }
}